<div class="container">
    <ul id="myUL">
        <li>
            <a href="javascript:void(0);"><img src="assets/images/avtar.png" class="avtarimg"> Wire Transfer Instructions
                <img src="assets/images/arrow.png" class="arowimg">
            </a>
        </li>
        <li *ngFor="let attachment of attachmentList">
            <a *ngIf="attachment.filename" href="javascript:void(0)" (click)="downloadAttachment(attachment)"><img src="assets/images/paper-clip.png" class="avtarimg"> {{attachment.filename}}
                <img src="assets/images/arrow.png" class="arowimg">
            </a>
        </li>
    </ul>
</div>