<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0);" *ngIf="!checkloggedIn">Login</a>
            <a class="navbar-brand" href="javascript:void(0);" *ngIf="checkloggedIn && !messageheader">Channels</a>
            <a class="navbar-brand" href="javascript:void(0);" (click)="backtoChannel()" *ngIf="messageheader"><img src="assets/images/arrow-back.png" class="backarrowimg"></a>
            <a class="navbar-brand" href="javascript:void(0);" *ngIf="messageheader">abc</a>
            <a class="navbar-brand attachment" href="javascript:void(0);" *ngIf="messageheader"><img src="assets/images/menu.png" class="attachmentimg"></a>
            <a class="navbar-brand attachment" href="javascript:void(0);" (click)="attachment()" *ngIf="messageheader"><img src="assets/images/attachment.png" class="attachmentimg"></a>
        </div>
    </div>
</nav>