<app-channel-detail>
</app-channel-detail>
<!-- <div class="container"> -->
<!-- <ul id="myUL">
        <li>
            <a href="javascript:void(0);" (click)="gotoMessage()"><img src="assets/images/avtar.png" class="avtarimg"> abc
                <img src="assets/images/arrow.png" class="arowimg">
            </a>
        </li>
        <li>
            <a href="javascript:void(0);"><img src="assets/images/avtar.png" class="avtarimg">xyz
                <img src="assets/images/arrow.png" class="arowimg">
            </a>
        </li>
    </ul> -->
<!-- <div class="row">
        <div class="column">
            <img src="assets/images/avtar.png" class="avtarimg">
        </div>
        <div class="column cltext">
            <a href="">test</a>
        </div>
        <div class="column">
            <img src="assets/images/arrow.png" class="arowimg">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img src="assets/images/avtar.png" class="avtarimg">
        </div>
        <div class="column">
            <a href="">test</a>
        </div>
        <div class="column">
            <img src="assets/images/arrow.png" class="arowimg">
        </div>
    </div> -->
<!-- </div> -->