<div class="container">
    <!-- <div class="mesgs scroll" #scrollMe> -->
    <div class="mesgs">
        <div class="msg_history">
            <div *ngFor="let msg of messageList | groupBy:'timestamp' ">
                <div *ngIf="msg.key != 'undefined' || msg.key != null">
                    <p><span>{{ msg.key | customDateFormat:msg.key }}</span></p>
                    <div *ngFor="let message of msg.value">
                        <div class="incoming_msg" *ngIf="loginuserid != message.sender">
                            <app-incoming-messages [incomingMessage]="message"></app-incoming-messages>
                        </div>
                        <div>
                            <div class="outgoing_msg" *ngIf="loginuserid == message.sender">
                                <app-outgoing-messages [outgoingMessage]="message"></app-outgoing-messages>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-send-message (messageTextValue)='setMessageDetail($event)'></app-send-message>
    </div>
</div>